<!--#include file="includes/header.ascx" -->


<!--IOS-->
<div class="full-width-slider">
    <div class='fluidHeight'>

        <div class='sliderContainer'>

            <div class='iosSlider'>

                <div class='slider'>


                    <div class='item'>

                        <a href="#">
                            <img src="http://loremflickr.com/1140/450?random=1"></a>

                        <div class="item-caption">
                            <h4>
                                <span>This is a light title</span>
                                Followed by a strong title
                            </h4>
                        </div>

                    </div>

                    <div class='item'>

                        <a href="#">
                            <img src="http://loremflickr.com/1140/450?random=2"></a>

                        <div class="item-caption">
                            <h4>
                                <span>This is a light title</span>
                                Followed by a strong title
                            </h4>
                        </div>

                    </div>

                    <div class='item'>

                        <a href="#">
                            <img src="http://loremflickr.com/1140/450?random=3"></a>

                        <div class="item-caption">
                            <h4>
                                <span>This is a light title</span>
                                Followed by a strong title
                            </h4>
                        </div>

                    </div>






                </div>

            </div>

            <div class="slider-arrows sa-left">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="slider-arrows sa-right">
                <i class="fa fa-chevron-right"></i>
            </div>

        </div>

    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('.iosSlider').iosSlider({
            snapToChildren: true,
            desktopClickDrag: true,
            infiniteSlider: true,
            snapSlideCenter: true
        });

        $(".sa-left").click(function () {
            $('.iosSlider').iosSlider('prevSlide');
        });

        $(".sa-right").click(function () {
            $('.iosSlider').iosSlider('nextSlide');
        });

    });
</script>

<!-- IOS -->



<div class="container content-bg">


    <div class="row">
        <div class="col-xs-12">


            <!-- BX Slider Start -->

            <ul class="bxslider">
                <li>
                    <img src="http://loremflickr.com/1140/440?random=1" /></li>
                <li>
                    <img src="http://loremflickr.com/1140/440?random=2" /></li>
                <li>
                    <img src="http://loremflickr.com/1140/440?random=3" /></li>
                <li>
                    <img src="http://loremflickr.com/1140/440?random=4" /></li>
            </ul>


            <script>
                $(document).ready(function () {
                    $('.bxslider').bxSlider();
                });
            </script>

            <!-- BX Slider END -->





            <!--FancyBox Example-->
            <h2>Fancy Box</h2>
            <a class="fancybox" rel="group" href="/Portals/0/Images/logo.png">
                <img src="/Portals/0/Images/logo.png" alt="" /></a>
            <a class="fancybox" rel="group" href="/Portals/0/Images/logo.png">
                <img src="/Portals/0/Images/logo.png" alt="" /></a>


            <script type="text/javascript">
                $(document).ready(function () {
                    $(".fancybox").fancybox();
                });
            </script>
            <!--End FancyBox Example-->



        </div>
    </div>


    <div class="row">
        <div class="col-xs-12" id="ContentPane" runat="server" visible="false"></div>
    </div>



</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<!--#include file="includes/footer.ascx" -->

