//Import Core Bootstrap Styles
@import "less/bootstrap.less";
//Import Dotnetnuke Fixes - Things that bootstrap Breaks
@import "less/custom/dnnFixes.less";

/*http://www.thedotmack.com/2013/11/18/less-media-query-mixins/*/

//Largest to Smallest Method
@xs: ~'max-width: @{screen-xs-max}';
@sm: ~'max-width: @{screen-sm-max}';
@md: ~'max-width: @{screen-md-max}';


//Smallest to Largest Method
//@xs:  ~'max-width: @{screen-xs-max}';
//@sm:  ~'min-width: @{screen-sm-min}';
//@md:  ~'min-width: @{screen-md-min}';
//@lg:  ~'min-width: @{screen-lg-min}';


/* Varibles Examples - Don't forget to set @brand-primary in the Variables.Less file */
@RS-Red: #d52027;


/* Base Styles */

//Style Logo
#dnn_dnnLogo_imgLogo {
    &:extend(.img-responsive);
}


body {
    background-color: #eee;

    @media(@md) {
        background-color: yellow;
    }

    @media(@sm) {
        background-color: green;
    }

    @media(@xs) {
        background-color: red;
    }
}

.content-bg {
    background-color: #fff;
}


.no-gutter {
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

//Bootstrap Same Height Columns (col) 
//Use <div class="row row-eq-height"> instead of <div class="row">.
// http://stackoverflow.com/a/23305885
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}



//Adds left / right margin for images which are floated
img {

    &.pull-right {
        margin-left: 15px;
    }

    &.pull-left {
        margin-right: 15px;
    }
}

//Breadcrumb Menu Styling
.breadcrumb {
    margin-left: 0; //Fixes DNN Default UL/OL Margins
}

//BXSlider - DNN Fixes
.bx-wrapper {

    .bx-viewport {
        left: 0;

        .bxslider {
            list-style: none;
            margin-left: 0;

            li {
                img {
                }
            }
        }
    }
}


//IosSlider Full Width - Base Config (3 Items min)

@iosSlider-Width: 1170px;
@iosSlider-Height: 450px;

.full-width-slider {
    border-bottom: 5px solid @brand-primary;
    margin-bottom: 20px;

    .fluidHeight {
        position: relative;
        width: 100%;
        height: @iosSlider-Height;

        @media screen and (max-width: @iosSlider-Width) {
            /* 
			 * below 900px, switch to percentage based responsive height.
			 * padding of 33.333% is calculated by using the 
			 * image ratio 300px/900px = .333 * 100% = 33.333% 
			 */
            height: 0;
            padding: 0 0 33.333% 0;
        }


        .sliderContainer {
            position: absolute;
            width: 100%;
            height: 100%;

            .iosSlider {
                width: 100%;
                height: 100%;
                background: #aaa;

                .slider {
                    width: 100%;
                    height: 100%;

                    .item {
                        position: relative;
                        top: 0;
                        left: 0;
                        max-width: @iosSlider-Width;
                        width: 100%;
                        height: 100%;

                        img {
                            position: relative;
                            top: 0;
                            left: 0;
                            max-width: @iosSlider-Width;
                            width: 100%;
                            margin: 0 auto;
                        }

                        .item-caption {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0.65);
                            color: #fff;
                            padding: 15px;

                            h4 {
                                font-size: 40px;
                                text-transform: uppercase;
                                font-weight: 900;
                                margin: 0;


                                span {
                                    display: block;
                                    font-weight: normal;
                                    text-transform: capitalize;
                                }
                            }

                            @media(@xs) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .slider-arrows {
                background-color: @brand-primary;
                position: absolute;
                top: 40%;
                z-index: 1;
                text-align: center;
                cursor: pointer;

                &.sa-left {
                    left: 10%;

                    @media(@xs) {
                        left: 0;
                    }
                }

                &.sa-right {
                    right: 10%;

                    @media(@xs) {
                        right: 0;
                    }
                }


                i {
                    color: #fff;
                    font-size: 34px;
                    padding: 15px 20px;

                    @media(@xs) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}



/* Menu Styling */

// Basics of a navbar
@navbar-height: 50px;
@navbar-margin-bottom: @line-height-computed;
@navbar-border-radius: @border-radius-base;
@navbar-padding-horizontal: floor((@grid-gutter-width / 2));
@navbar-padding-vertical: ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height: 340px;

// Navbar Custom Colors
@navbar-custom-color: #777;
@navbar-custom-bg: #f8f8f8;
@navbar-custom-border: darken(@navbar-custom-bg, 6.5%);

// Navbar Custom links
@navbar-custom-link-color: #777;
@navbar-custom-link-hover-color: #333;
@navbar-custom-link-hover-bg: transparent;
@navbar-custom-link-active-color: #555;
@navbar-custom-link-active-bg: darken(@navbar-custom-bg, 6.5%);
@navbar-custom-link-disabled-color: #ccc;
@navbar-custom-link-disabled-bg: transparent;

// Navbar Custom brand label
@navbar-custom-brand-color: @navbar-custom-link-color;
@navbar-custom-brand-hover-color: darken(@navbar-custom-brand-color, 10%);
@navbar-custom-brand-hover-bg: transparent;

// Navbar Custom toggle
@navbar-custom-toggle-hover-bg: #ddd;
@navbar-custom-toggle-icon-bar-bg: #888;
@navbar-custom-toggle-border-color: #ddd;

// Custom navbar
.navbar-custom {
    background-color: @navbar-custom-bg;
    border-color: @navbar-custom-border;

    .navbar-brand {
        color: @navbar-custom-brand-color;

        &:hover,
        &:focus {
            color: @navbar-custom-brand-hover-color;
            background-color: @navbar-custom-brand-hover-bg;
        }
    }

    .navbar-text {
        color: @navbar-custom-color;
    }

    .navbar-nav {
        > li > a {
            color: @navbar-custom-link-color;

            &:hover,
            &:focus {
                color: @navbar-custom-link-hover-color;
                background-color: @navbar-custom-link-hover-bg;
            }
        }

        > .active > a {
            &,
            &:hover,
            &:focus {
                color: @navbar-custom-link-active-color;
                background-color: @navbar-custom-link-active-bg;
            }
        }

        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: @navbar-custom-link-disabled-color;
                background-color: @navbar-custom-link-disabled-bg;
            }
        }
    }

    .navbar-toggle {
        border-color: @navbar-custom-toggle-border-color;

        &:hover,
        &:focus {
            background-color: @navbar-custom-toggle-hover-bg;
        }

        .icon-bar {
            background-color: @navbar-custom-toggle-icon-bar-bg;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: @navbar-custom-border;
    }
    // Dropdown menu items
    .navbar-nav {
        // Remove background color from open dropdown
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: @navbar-custom-link-active-bg;
                color: @navbar-custom-link-active-color;
            }
        }

        @media (max-width: @grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: @navbar-custom-link-color;

                    &:hover,
                    &:focus {
                        color: @navbar-custom-link-hover-color;
                        background-color: @navbar-custom-link-hover-bg;
                    }
                }

                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: @navbar-custom-link-active-color;
                        background-color: @navbar-custom-link-active-bg;
                    }
                }

                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: @navbar-custom-link-disabled-color;
                        background-color: @navbar-custom-link-disabled-bg;
                    }
                }
            }
        }
    }
    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.
    .navbar-link {
        color: @navbar-custom-link-color;

        &:hover {
            color: @navbar-custom-link-hover-color;
        }
    }

    .btn-link {
        color: @navbar-custom-link-color;

        &:hover,
        &:focus {
            color: @navbar-custom-link-hover-color;
        }

        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus {
                color: @navbar-custom-link-disabled-color;
            }
        }
    }
}
