@using DotNetNuke.Web.DDRMenu;
@using System.Dynamic;
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>

@{ var root = Model.Source.root;}

<!-- Static navbar -->
<nav class="navbar navbar-custom">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
    <div id="navbar" class="navbar-collapse collapse">



        @helper RenderNodes(IList<MenuNode> nodes)
        {
if (nodes.Count > 0)
{
        <ul class="nav navbar-nav">
            <!-- If you want a justified menu, then swap the 'navbar-nav' for 'nav-justified' There is some styling at the bottom of this file especially for nav-justified-->
            @foreach (var node in nodes)
            {
                var cssClasses = new List<string>();
                if (node.Selected) { cssClasses.Add("active"); }
                if (node.HasChildren()) { cssClasses.Add("dropdown"); }
                var classString = new HtmlString((cssClasses.Count == 0) ? "" : (" class=\"" + String.Join(" ", cssClasses.ToArray()) + "\""));


                <li @classString>
                    @if (node.HasChildren())
                    {
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @node.Text <span data-toggle="dropdown" class="caret"></span>
                        </a>

                        @RenderChildNodes(node.Children)
                    }
                    else if (node.Enabled)
                    {
                        <a href="@node.Url" target="@node.Target">@node.Text</a>
                    }
                    else
                    {
                        @node.Text
                    }

                </li>
            }
        </ul>
}
}





        <!--Render Child Nodes-->

        @helper RenderChildNodes(IList<MenuNode> nodes)
        {
if (nodes.Count > 0)
{
        <ul class="dropdown-menu">
            @foreach (var node in nodes)
            {
                var cssClasses = new List<string>();
                if (node.Selected) { cssClasses.Add("active"); }
                if (node.HasChildren()) { cssClasses.Add("dropdown"); }
                var classString = new HtmlString((cssClasses.Count == 0) ? "" : (" class=\"" + String.Join(" ", cssClasses.ToArray()) + "\""));


                <li @classString>
                    @if (node.Enabled)
                    {
                        <a href="@node.Url" target="@node.Target">@node.Text</a>
                    }
                    else
                    {
                        @node.Text
                    }

                   
                </li>
            }
        </ul>
}
}


        @RenderNodes(root.Children)


    </div><!--/.nav-collapse -->

</nav>


<style>
    /* Customize the nav-justified links to be fill the entire space of the .navbar */

    .nav-justified {
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left:0;
    }

        .nav-justified > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 0;
            font-weight: bold;
            color: #777;
            text-align: center;
            background-color: #e5e5e5; /* Old browsers */
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
            background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
            background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
            background-image: linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
            background-repeat: repeat-x; /* Repeat the gradient */
            border-bottom: 1px solid #d5d5d5;
        }

        .nav-justified > .active > a,
        .nav-justified > .active > a:hover,
        .nav-justified > .active > a:focus {
            background-color: #ddd;
            background-image: none;
            -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
            box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
        }

        .nav-justified > li:first-child > a {
            border-radius: 5px 5px 0 0;
        }

        .nav-justified > li:last-child > a {
            border-bottom: 0;
            border-radius: 0 0 5px 5px;
        }

    @@media (min-width: 768px) {
        .nav-justified {
            max-height: 52px;
        }

            .nav-justified > li > a {
                border-right: 1px solid #d5d5d5;
                border-left: 1px solid #fff;
            }

            .nav-justified > li:first-child > a {
                border-left: 0;
                border-radius: 5px 0 0 5px;
            }

            .nav-justified > li:last-child > a {
                border-right: 0;
                border-radius: 0 5px 5px 0;
            }
    }
</style>