@using DotNetNuke.Web.DDRMenu;
@using System.Dynamic;
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>

@* User Login References *@
@using DotNetNuke.Entities.Users;
@using DotNetNuke.Security.Membership;
@using DotNetNuke.Services.Authentication;

@{ var root = Model.Source.root; }

<ol class="breadcrumb">

    @helper RenderNodes(IList<MenuNode> nodes)
{


    if (nodes.Count > 0)
    {

        foreach (var node in nodes)
        {
            if (node.Breadcrumb)
            {

                var cssClasses = new List<string>();

                //if (node.First) { cssClasses.Add("first"); }
                //if (node.Last) { cssClasses.Add("last"); }

                if (node.Selected) { cssClasses.Add("active"); }



                var classString = new HtmlString((cssClasses.Count == 0) ? "" : (" class=\"" + String.Join(" ", cssClasses.ToArray()) + "\""));
            
            
        <li @classString>

            @if (node.Enabled && !node.Selected)
            {
                <a  href="@node.Url">@node.Text</a>
            }

            else
            {
                @node.Text
            }
        </li>
            
        @RenderNodes(node.Children)
        

            }


        }

    }
    }


    @RenderNodes(root.Children)

</ol>
